body{
	background-color:#cccccc;
}
h1{
	text-align:center;
}
.player_one{
	background-color:white;
}
.player_two{
	
	text-align:center;
}
div.player_two {
/* 	border:1px solid; */
	text-align:center;
	width:350px;
margin-left:250px;
	background-color:rgb(255, 255, 255);
}
.player_two div h5{
	text-align:left
}
a{
	text-decoration-line:none;
}
li{
	list-style-type:none;
}