body{
	background-color:#cccccc;
}
h1{
	text-align:center;
}
.player_one{
	background-color:white;
}
.player_two{
	
	text-align:center;
}
.player_two div{
/* 	border:1px solid; */
	text-align:center;
	width:350px;
margin-left:250px;
	background-color:white;
}
.player_two div h5{
	text-align:left
}
